<div class="main-container">
  <!-- main container for form -->
  <div class="form-container">
    <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
      <!-- ad name -->
      <input type="text" id="name" placeholder="Ad name*" formControlName="name" required>
      <div class="name-error" *ngIf="adForm.controls['name'].invalid && adForm.controls['name'].touched">
          <span *ngIf="adForm.controls['name'].errors?.['required']">Required!</span>
          <span *ngIf="adForm.controls['name'].errors?.['minlength']">Must be at least 4 characters long!</span>
      </div>

      <!-- ad price -->
       <div class="price-input-wrapper">
        <span class="currency-symbol">€</span>
        <input type="number" id="price" placeholder="Price*" formControlName="price" required>
       </div>
      <div class="name-error" *ngIf="adForm.controls['price'].invalid && adForm.controls['price'].touched">
          <span *ngIf="adForm.controls['price'].errors?.['required']">Required!</span>
      </div>

      <!-- ad description -->
      <textarea class="description-input" id="description" placeholder="Description..." formControlName="description"></textarea>

      <!-- ad city -->
      <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
          <!-- Search input inside dropdown -->
          <mat-option>
            <ngx-mat-select-search
              [formControl]="cityFilterCtrl"
              placeholderLabel="Search cities..."
              noEntriesFoundLabel="No cities found">
            </ngx-mat-select-search>
          </mat-option>

          <!-- Filtered options -->
          <mat-option *ngFor="let city of filteredCities | async" [value]="city">
            {{ city }}
          </mat-option>
          @if (adForm.controls['city'].invalid && adForm.controls['city'].touched){
            <mat-error>You must select a city</mat-error>
          }
        </mat-select>
      </mat-form-field>

      <!-- ad type -->
      <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="buy">Buy</mat-option>
          <mat-option value="sell">Sell</mat-option>
        </mat-select>
          @if (adForm.controls['type'].invalid && adForm.controls['type'].touched){
            <mat-error>You must select a type</mat-error>
          }
      </mat-form-field>

      <!-- ad state -->
      <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option value="new">New</mat-option>
          <mat-option value="used">Used</mat-option>
          <mat-option value="both" [disabled]="adForm.get('type')?.value !== 'buy'">
            Both
          </mat-option>
        </mat-select>
        @if (adForm.controls['state'].invalid && adForm.controls['state'].touched){
          <mat-error>You must select a state</mat-error>
        }
      </mat-form-field>

      <!-- ad specifications -->
      <div class="specs-div">
        <input type="text" id="specKey" placeholder="specification" formControlName="specKey">
        <input type="text" id="specValue" placeholder="value" formControlName="specValue">
        <button type="button" mat-mini-fab color="secondary" (click)="addSpec()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- ad image -->
      <div class="image-div">
        <input type="text" id="image" placeholder="image URL" formControlName="image">
        <button type="button" mat-mini-fab color="secondary" (click)="addPicture()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Submit button -->
      <input type="submit" value="Create" [disabled]="!adForm.valid">
    </form>
  </div>

  <!-- right side for added elements -->
  <div class="info-container">

    <div class="spec-info-container">
      <!-- added specs list -->
      <div class="spec-info-div" *ngFor="let entry of specsEntries">
        <div class="spec">
          {{ entry[0] }} : {{ entry[1] }}
        </div>
        <button mat-mini-fab color="primary" (click)="openEditSpecModal(entry[0], entry[1], editSpecDialog)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

    </div>

    <hr>

    <div class="picture-info-container">
      <!-- added Image list -->
      <div class="picture-info-div" *ngFor="let picture of pictures; let i = index">
        <div class="picture-preview">
          <img
          src="{{ picture }}"
          alt="Picture preview"
          class="picture-preview-img"
          (click)="openImageModal(picture, imageDialog)"
          >
        </div>
        <button mat-mini-fab color="primary" (click)="openEditImageModal(picture, i, editImageDialog)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

    </div>

  </div>
</div>

<!-- Image Preview Template -->
<ng-template #imageDialog let-data>
  <div class="modal-container">
    <img [src]="data" class="modal-image-preview" alt="Preview">
  </div>
</ng-template>

<!-- Spec Edit Modal -->
<ng-template #editSpecDialog let-data>
  <div class="edit-modal-container">
    <div class="edit-modal-values">
      <mat-form-field appearance="fill" class="modal-field" subscriptSizing="dynamic">
        <mat-label>Key</mat-label>
        <input matInput [(ngModel)]="data.key" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="modal-field" subscriptSizing="dynamic">
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="data.value">
      </mat-form-field>
    </div>
    <div class="edit-modal-values">
      <div class="modal-actions">
        <button mat-raised-button color="primary" (click)="saveEditedSpec(data)">Save</button>
        <button mat-raised-button color="warn" (click)="deleteSpec(data.key)">Delete</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Image Edit Modal -->
<ng-template #editImageDialog let-data>
  <div class="editImage-modal-container">
    <div class="editImage-modal-image">
      <img [src]="data.url" class="modal-image" alt="Preview">
    </div>

    <div class="editImage-modal-editable">
      <mat-form-field appearance="fill" class="modal-field" subscriptSizing="dynamic">
        <mat-label>Image URL</mat-label>
        <input matInput [(ngModel)]="data.url">
      </mat-form-field>
      <div class="modal-actions">
        <button mat-raised-button color="primary" (click)="saveEditedImage(data)">Save</button>
        <button mat-raised-button color="warn" (click)="removePicture(data.url)">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
