<div class="main-container">

  <div class="profile-container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">account_box</mat-icon>
          <span class="tab-text">Profile</span>
        </ng-template>
        Content 1
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">list_alt</mat-icon>
          <span class="tab-text">My ads</span>
        </ng-template>
        <div class="my-ads-main-div">
          <mat-form-field class="search-bar" subscriptSizing="dynamic">
            <mat-label>Search my ads</mat-label>
            <input #searchQuery type="text" matInput (input)="filterAds(searchQuery.value)" >
          </mat-form-field>
          <div class="my-ads-content-div" *ngFor="let ad of filteredAds">
            <div class="ad-info-div">
              <span class="title-span">{{ ad.title }}</span>
              <hr width="1" size="50"/>
              <span class="desc-span">{{ ad.shortDesc }}</span>
              <button mat-mini-fab color="primary" (click)="editAd(ad.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>

</div>
